<footer>
    <div class="f-info">
        <div class="f-info-social-media">
             &copy; Wanderlust Private Limited
            <a href="/privacy" class="anchor">privacy</a>
            <a href="/terms" class="anchor">Terms</a>
            <a href="/sitemap" class="anchor">Site Map</a>
            <a href="/details" class="anchor">Company Details</a>
        </div>

        <div class="f-icons">
            <i class="fa-solid fa-globe"></i><a href="#" class="anchor">English (EN)</a>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
    </div>
</footer>